.alignleft {
	float: left;
}
.alignright {
	float: right;
}
#rak{
    font-size: 90px;
    text-align: center;
    margin-top: -10px;
   
}
.fake{
    font-size: 25px;
}
.p{
    text-align: justify;
    font-size: 10px;
}
.pom{
    display: flex;
    background-color: black;
    color: white;
    width: 1cm;
    height: 1cm;
    margin-left:500px;
    margin-top:  -50px;
    font-size: 8px;
    padding-left: 3%;
    padding-top: 2%;
    position: relative;
   
  
  
  border-radius: 100px;
  }
  containr-fluid{
    position: relative;
  }
  .bottom-right {
    position: absolute;
    bottom: 8px;
    left: 60px;
}

.tom{
  display: flex;
  background-color: black;
  color: white;
  width: 1cm;
  height: 1cm;
  margin-left:300px;
  margin-top:  -50px;
  font-size: 8px;
  padding-left: 3%;
  padding-top: 2%;
  position: relative;
  border-radius: 100px;
}
 